<nav class="nav-menu">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="Navigate">
            <span class="nav-icon nav-icon-home" aria-hidden="true"></span>
            <span class="nav-text">Home</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="counter" @onclick="Navigate">
            <span class="nav-icon nav-icon-counter" aria-hidden="true"></span>
            <span class="nav-text">Counter</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="weather" @onclick="Navigate">
            <span class="nav-icon nav-icon-weather" aria-hidden="true"></span>
            <span class="nav-text">Weather</span>
        </NavLink>
    </div>
</nav>

@code {
    [Parameter] public EventCallback OnNavigate { get; set; }

    private async Task Navigate()
    {
        if (OnNavigate.HasDelegate)
        {
            await OnNavigate.InvokeAsync();
        }
    }
}
